@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Josefin+Sans&display=swap');
html 
{
   
   overflow-x: hidden;
}
body{
    
   overflow-x: hidden;
}
html{
scroll-behavior: smooth;

}

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
   
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: white;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.0rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.7rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}


.title{
    text-align: center;
    position: relative;
    top: 155px;
    color:red;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 22px;  
}

.title1{
    text-align: center;
    position: relative;
    top: 145px;
    font-size: 35px;
    text-transform: uppercase;
}

.first-img{
    background-color:#D8C4B6;
    width: 100vw;
    height: 240px;
    position: relative;
    top: 220px;
}
 .img-1{ 
    background: url("photo/p21.png"); 
    width: 200px;
    height: 200px;
    float: right;
    margin-right:50px;
    background-size: cover;
}

.h2-1{
    position: relative;
    left: 60px;
    font-weight: bold;
    font-size: 30px;
    top: 60px;
    color:red;
    font-family: 'Playfair', serif;
    animation-name: manish;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}
 @keyframes manish{ 
from{
color: blue;
}
to{
color: red;
}
}

.h3-1{
    position: relative;
    left: 60px;
    top: 70px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.knowledge
{
    position: relative;
    top:250px;
    margin-left: 20px;
   font-weight: bold;
   font-size: 12px; 
   font-family: 'Playfair', serif;
}
.line-1{
    background-color:blue;
    height: 3px;
    width: 599px;
    margin-top: 3px;
    border-radius: 50px;
  

}


.p-2{
    font-family: 'Josefin Sans', sans-serif;
}
/*first design of language*/

.language{

width: 1100px;
height:250px;
margin-top: 20px;
}
.html{
    background-color: gray;
    width: 1000px;
    height: 7px;
    position: relative;
    top: 30px;
    left: 10px;
    border-radius: 10px;
}
.html-1{
    background-color: blue;
    width: 797px;
    height: 7px;
    border-radius: 10px;
    animation-name: html1;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes html1{ 
    from{
    width: 0px;
    }
    to{
    width: 797px;
    }
    }

.h4-1{
position: relative;
top: 28px;
font-size: 14px;
text-transform: uppercase;
left: 10px;
}
.message{
    height:40px;
    width: 40px;
    background-color:blue;
    clip-path: polygon(13% 4%, 83% 4%, 84% 55%, 58% 56%, 51% 89%, 39% 57%, 15% 56%);
    transform: rotate(180deg);
    margin-top:20px;
    position: relative;
    left: 785px;
    animation-name: html2;
    animation-duration: 5s;
    animation-iteration-count: 1;
 }
 @keyframes html2{ 
    from{
        position: relative;
        left: 0px;
    
    }
    to{
        position: relative;
        left: 785px;
    }
    }

 .per{
    position: relative;
    left: 794px;
    bottom: 18px;
    font-size: 11px;
    font-weight: bolder;
    color: whitesmoke;
    animation-name: html3;
    animation-duration: 5s;
    animation-iteration-count: 1;
 }
 @keyframes html3{ 
    from{
        position: relative;
        left: 0px;
    
    }
    to{
        position: relative;
        left: 794px;
    }
    }

 /*second design of language*/
 .css{
    background-color: gray;
    width: 1000px;
    height: 7px;
    position: relative;
    top: -15px;
    left: 10px;
    border-radius: 10px;
}
.css-1{
    background-color: blue;
    width: 910px;
    height: 7px;
    border-radius: 10px;
    animation-name: css1;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes css1{ 
    from{
    width: 0px;
    }
    to{
    width: 910px;
    }
    }


.h4-2{
position: relative;
top: -15px;
font-size: 14px;
text-transform: uppercase;
left: 10px;
}
.message-1{
    height:40px;
    width: 40px;
    background-color:blue;
    clip-path: polygon(13% 4%, 83% 4%, 84% 55%, 58% 56%, 51% 89%, 39% 57%, 15% 56%);
    transform: rotate(180deg);
    top:-25px;
    position: relative;
    left: 900px;
    animation-name: css2;
    animation-duration: 5s;
    animation-iteration-count: 1;
 }
 @keyframes css2{ 
    from{
        position: relative;
        left: 0px;
    
    }
    to{
        position: relative;
        left: 900px;
    }
    }

 .per-1{
    position: relative;
    left: 910px;
    bottom: 42px;
    font-size: 11px;
    font-weight: bolder;
    color: whitesmoke;
    animation-name: css3;
    animation-duration: 5s;
    animation-iteration-count: 1;
 }
 @keyframes css3{ 
    from{
        position: relative;
        left: 0px;
    
    }
    to{
        position: relative;
        left: 910px;
    }
    }


 /*  third design of language  */
 .javascript{
    background-color: gray;
    width: 1000px;
    height: 7px;
    position: relative;
    top: -38px;
    left: 10px;
    border-radius: 10px;
}
.javascript-1{
    background-color: blue;
    width: 300px;
    height: 7px;
    border-radius: 10px;
    animation-name: javascript1;
    animation-duration: 5s;
    animation-iteration-count: 1;
  
}
@keyframes javascript1{ 
    from{
    width: 0px;
    }
    to{
    width: 300px;
    }
    }
.h4-3{
position: relative;
top: -38px;
font-size: 14px;
text-transform: uppercase;
left: 10px;
}
.message-3{
    height:40px;
    width: 40px;
    background-color:blue;
    clip-path: polygon(13% 4%, 83% 4%, 84% 55%, 58% 56%, 51% 89%, 39% 57%, 15% 56%);
    transform: rotate(180deg);
    top:-46px;
    position: relative;
    left: 289px;
    animation-name: javascript2;
    animation-duration: 5s;
    animation-iteration-count: 1;
 }
 @keyframes javascript2{ 
    from{
        position: relative;
        left: 0px;
    
    }
    to{
        position: relative;
        left: 289px;
    }
    }
 .per-3{
    position: relative;
    left: 299px;
    bottom: 63px;
    font-size: 11px;
    font-weight: bolder;
    color: whitesmoke;
    animation-name: javascript3;
    animation-duration: 5s;
    animation-iteration-count: 1;
 }
 @keyframes javascript3{ 
    from{
        position: relative;
        left: 0px;
    
    }
    to{
        position: relative;
        left: 299px;
    }
    }


/*forth design of language*/
.bootstrap{
    background-color: gray;
    width: 1000px;
    height: 7px;
    position: relative;
    top: -59px;
    left: 10px;
    border-radius: 10px;
}
.bootstrap-1{
    background-color: blue;
    width: 371px;
    height: 7px;
    border-radius: 10px;
    animation-name: bootstrap1;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes bootstrap1{ 
    from{
    width: 0px;
    }
    to{
    width: 371px;
    }
    }
.h4-4{
position: relative;
top: -59px;
font-size: 14px;
text-transform: uppercase;
left: 10px;
}
.message-4{
    height:40px;
    width: 40px;
    background-color:blue;
    clip-path: polygon(13% 4%, 83% 4%, 84% 55%, 58% 56%, 51% 89%, 39% 57%, 15% 56%);
    transform: rotate(180deg);
    top:-68px;
    position: relative;
    left: 360px;
    animation-name: bootstrap2;
    animation-duration: 5s;
    animation-iteration-count: 1;
 }
 @keyframes bootstrap2{ 
    from{
        position: relative;
        left: 0px;
    
    }
    to{
        position: relative;
        left: 360px;
    }
    }
 .per-4{
    position: relative;
    left: 368px;
    bottom: 85px;
    font-size: 11px;
    font-weight: bolder;
    color: whitesmoke;
    animation-name: bootstrap3;
    animation-duration: 5s;
    animation-iteration-count: 1;
 }
 @keyframes bootstrap3{ 
    from{
        position: relative;
        left: 0px;
    
    }
    to{
        position: relative;
        left: 368px;
    }
    }

 .img-5{
   width: 340px;
   height: 400px;
    background: url("photo/P36.jpg");
    background-size:cover;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 400px;
    box-shadow: -10px 15px 30px black;
    
 }
.con{
    width: 1100px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    position: relative;
    top: 20px;
}
.line-5{
    background-color: blue;
    height: 3px;
    width: 300px;
    border-radius: 10px;

}
.comon{
    color:black;
    font-weight: 12px;
}
/* swiper *//* swiper to happy client */
body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    /* background-color: red; */
    width: 100%;
    height: 400px;
    position: relative;
    top: -80px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
     background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    position: relative;
    top: 20px;
    margin-bottom: 1px;

  }

  .swiper-slide img {
    display: block;
   height: 700px;
   width: 680px;
    object-fit: cover;
    position: relative;
    top: -50px;
  }
 

.swiper-slide img{
    filter: drop-shadow(15px 15px 20px black);
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 40px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 25px;
        width: 30px;
        position: absolute;
        top: 12px;
        left: 10px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 320px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 30px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        /* overflow: scroll; */
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.4rem;
        font-weight: 500;
        position: relative;
        left: -10px;
    }

    .logo{
        position: absolute;
        top: 8px;
        right: 1px;
        font-size: 1.6rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
       transform: rotate(-45deg);
    } 

    .title{
        text-align: center;
        position: relative;
        top: 120px;
        font-size: 20px;
    }
    
    .title1{
        text-align: center;
        position: relative;
        top: 125px;
        font-size: 27px;
    }

    .first-img{
        background-color:#D8C4B6;
        width: 100vw;
        height: 155px;
        position: relative;
        top: 170px;
    }
    .img-1{
        background: url("photo/p21.png"); 
        width: 110px;
        height: 110px;
        float: right;
        margin-top:10px;
        margin-right: 10px;
        background-size: cover;
    }
    .h2-1{
        position: relative;
        left: 2px;
        font-weight: bold;
        font-size: 20px;
        top: 35px;
    }
    .h3-1{
        position: relative;
        left: 2px;
        top: 40px;
        font-size: 13px;
    }
    .knowledge
{
    position: relative;
    top:208px;
    margin-left: 2px;
   font-weight: bold;
   font-size: 9px; 
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h1-3{
    font-size: 20px;
    position: relative;
    right: -10px;
}
.p-2{
    position: relative;
    top: -23px;
    font-size: 12px;
}
.line-1{
    background-color: blue;
    height: 2px;
    width: 300px;
    margin-top: 3px;
    margin-left: 10px;
    border-radius: 50px;
   
}
/*first design of language*/
.language{ 
   position: relative;
    width: 370px;
    height:220px;
    margin-left: 15px;
    top: -60px;
    right: 16px;
    }
    .html{
        background-color: gray;
        width: 330px;
        height: 4px;
        position: relative;
        top: 30px;
        left: 10px;
        border-radius: 10px;
    }
    .html-1{
        background-color: blue;
        width: 260px;
        height: 4px;
        border-radius: 10px;
        animation-name: html1;
        animation-duration: 5s;
        animation-iteration-count: 1;
    }
    @keyframes html1{ 
        from{
        width: 0px;
        }
        to{
        width: 260px;
        }
        }
    .h4-1{
    position: relative;
    top: 28px;
    font-size: 10px;
    text-transform: uppercase;
    left: 10px;
    }
    .message{
        height:30px;
        width: 30px;
        background-color:blue;
        clip-path: polygon(13% 4%, 83% 4%, 84% 55%, 58% 56%, 51% 89%, 39% 57%, 15% 56%);
        transform: rotate(180deg);
        margin-top:24px;
        position: relative;
        left: 254px;
        animation-name: html2;
        animation-duration: 5s;
        animation-iteration-count: 1;
     }
     @keyframes html2{ 
        from{
            position: relative;
            left: 0px;
        
        }
        to{
            position: relative;
            left: 254px;
        }
        }
    
     .per{
        position: relative;
        left: 259px;
        bottom: 13px;
        font-size: 8px;
        font-weight: bolder;
        color: whitesmoke;
        animation-name: html3;
        animation-duration: 5s;
        animation-iteration-count: 1;
     }
     @keyframes html3{ 
        from{
            position: relative;
            left: 0px;
        
        }
        to{
            position: relative;
            left: 259px;
        }
        }
    

      
     /*second design of language*/
     .css{
        background-color: gray;
        width: 330px;
        height: 4px;
        position: relative;
        top: 0px;
        left: 10px;
        border-radius: 10px;
    }
    .css-1{
        background-color: blue;
        width: 310px;
        height: 4px;
        border-radius: 10px;
        animation-name: css1;
        animation-duration: 5s;
        animation-iteration-count: 1;
    }
    @keyframes css1{ 
        from{
        width: 0px;
        }
        to{
        width: 310px;
        }
        }
    .h4-2{
    position: relative;
    top: 0px;
    font-size: 10px;
    text-transform: uppercase;
    left: 10px;
    }
    .message-1{
        height:30px;
        width: 30px;
        background-color:blue;
        clip-path: polygon(13% 4%, 83% 4%, 84% 55%, 58% 56%, 51% 89%, 39% 57%, 15% 56%);
        transform: rotate(180deg);
        margin-top:25px;
        top: -33px;
        position: relative;
        left: 303px;
        animation-name: css2;
        animation-duration: 5s;
        animation-iteration-count: 1;
     }
     @keyframes css2{ 
        from{
            position: relative;
            left: 0px;
        
        }
        to{
            position: relative;
            left: 303px;
        }
        }
    
     .per-1{
        position: relative;
        left: 310px;
        bottom: 46px;
        font-size: 8px;
        font-weight: bolder;
        color: whitesmoke;
        animation-name: css3;
        animation-duration: 5s;
        animation-iteration-count: 1;
     } 
     @keyframes css3{ 
        from{
            position: relative;
            left: 0px;
        
        }
        to{
            position: relative;
            left: 310px;
        }
        }
    
     

/*third design of language*/
.javascript{
    background-color: gray;
    width: 330px;
    height: 4px;
    position: relative;
    top: -29px;
    left: 10px;
    border-radius: 10px;
}
.javascript-1{
    background-color: blue;
    width: 100px;
    height: 4px;
    border-radius: 10px;
    animation-name: javascript1;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes javascript1{ 
    from{
    width: 0px;
    }
    to{
    width: 100px;
    }
    }
.h4-3{
position: relative;
top: -32px;
font-size: 10px;
text-transform: uppercase;
left: 10px;
}
.message-3{
    height:30px;
    width: 30px;
    background-color:blue;
    clip-path: polygon(13% 4%, 83% 4%, 84% 55%, 58% 56%, 51% 89%, 39% 57%, 15% 56%);
    transform: rotate(180deg);
    margin-top:25px;
    top: -60px;
    position: relative;
    left: 93px;
    animation-name: javascript2;
    animation-duration: 5s;
    animation-iteration-count: 1;
 }
 @keyframes javascript2{ 
    from{
        position: relative;
        left: 0px;
    
    }
    to{
        position: relative;
        left: 93px;
    }
    }

 .per-3{
    position: relative;
    left: 100px;
    bottom: 75px;
    font-size: 8px;
    font-weight: bolder;
    color: whitesmoke;
    animation-name: javascript3;
    animation-duration: 5s;
    animation-iteration-count: 1;
 } 
 @keyframes javascript3{ 
    from{
        position: relative;
        left: 0px;
    
    }
    to{
        position: relative;
        left: 100px;
    }
    }

 

 /*forth design of language*/
 .bootstrap{
    background-color: gray;
    width: 330px;
    height: 4px;
    position: relative;
    top: -59px;
    left: 10px;
    border-radius: 10px;
}
.bootstrap-1{
    background-color: blue;
    width: 128px;
    height: 4px;
    border-radius: 10px;
    animation-name: bootstrap1;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes bootstrap1{ 
    from{
    width: 0px;
    }
    to{
    width: 128px;
    }
    }
.h4-4{
position: relative;
top: -60px;
font-size: 10px;
text-transform: uppercase;
left: 10px;
}
.message-4{
    height:30px;
    width: 30px;
    background-color:blue;
    clip-path: polygon(13% 4%, 83% 4%, 84% 55%, 58% 56%, 51% 89%, 39% 57%, 15% 56%);
    transform: rotate(180deg);
    margin-top:25px;
    top: -90px;
    position: relative;
    left: 123px;
    animation-name: bootstrap2;
    animation-duration: 5s;
    animation-iteration-count: 1;
 }
 @keyframes bootstrap2{ 
    from{
        position: relative;
        left: 0px;
    
    }
    to{
        position: relative;
        left: 123px;
    }
    }

 .per-4{
    position: relative;
    left: 130px;
    bottom: 103px;
    font-size: 8px;
    font-weight: bolder;
    color: whitesmoke;
    animation-name: bootstrap3;
    animation-duration: 5s;
    animation-iteration-count: 1;
 }  
 @keyframes bootstrap3{ 
    from{
        position: relative;
        left: 0px;
    
    }
    to{
        position: relative;
        left: 130px;
    }
    }


 .img-5{
    position:relative;
    right: 330px;
    height: 270px;
    width: 210px;
    top: -50px;
}
.work1{
    position: relative;
    top:-230px;
}
h6{
    position: relative;
    top:-230px;
}
.all-img{
    position: relative;
    top:-230px;
}
/* swiper */
.con{
    width: 1100px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
.line-5{
    background-color: blue;
    height: 3px;
    width: 300px;
    border-radius: 10px;
}
.comon{
    color:black;
    font-weight: 10px;
}
.col1{
    display: none;
}


/* .swiper */
.swiper {
    /* background-color: red; */
    width: 100%;
    height: 280px;
    position: relative;
    top: -50px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
     /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;

  }

  .swiper-slide img {
    display: block;
   height: 400px;
   width: 410px;
    object-fit: cover;
    position: relative;
    top: -30px;
  }
 

.swiper-slide img{
    filter: drop-shadow(15px 15px 20px black);
}
.youtube{
    background-color: red;
}
}
@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}